:root {
    --color-neutral-800: rgb(38, 38, 38);
    --color-neutral-900: rgb(23, 23, 23);
    --color-gray-600: rgb(75, 85, 99);
    --color-gray-700: rgb(55, 65, 81);
    --color-purple-primary: rgb(255, 0, 255);
    --color-cyan-primary: rgb(0, 255, 255);
}

.spotlight-overlay {
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background: radial-gradient(circle at var(--spotlight-x, 0px) var(--spotlight-y, 0px),
            var(--spotlight-color, rgba(255, 255, 255, 0.25)),
            transparent 80%);
}

.spotlight-overlay.visible {
    opacity: 0.6;
}