.footer {
    position: relative;
    padding-top: 10px;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, #FF00FF, #00FFFF);
}