.navbar {
    position: relative;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, #FF00FF, #00FFFF);
}

.navbar img {
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
    object-fit: contain;
    margin-right: 10px;
}

.navbar-title {
    text-decoration: none;
    background: linear-gradient(to right, #FF00FF, #00FFFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s ease;
}

.navbar-title:hover {
    background-position: 0% 0;
}

.navbar .p-button+.p-button {
    margin-left: 0.5rem;
}