#root {
  margin: 0 auto;
  text-align: center;
}

.p-button {
  background: linear-gradient(to right, #FF00FF, #00FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.p-button:hover {
  background-position: 0 0;
}